:root {
    line-height: 1.2;

    /* Catppuccin Macchiato: https://catppuccin.com/palette/ */
    --color-rosewater: rgb(244, 219, 214);
    --color-flamingo: rgb(240, 198, 198);
    --color-pink: rgb(245, 189, 230);
    --color-mauve: rgb(198, 160, 246);
    --color-red: rgb(237, 135, 150);
    --color-maroon: rgb(238, 153, 160);
    --color-peach: rgb(245, 169, 127);
    --color-yellow: rgb(238, 212, 159);
    --color-green: rgb(166, 218, 149);
    --color-teal: rgb(139, 213, 202);
    --color-sky: rgb(145, 215, 227);
    --color-sapphire: rgb(125, 196, 228);
    --color-blue: rgb(138, 173, 244);
    --color-lavender: rgb(183, 189, 248);
    --color-text: rgb(202, 211, 245);
    --color-subtext-1: rgb(184, 192, 224);
    --color-subtext-0: rgb(165, 173, 203);
    --color-overlay-2: rgb(147, 154, 183);
    --color-overlay-1: rgb(128, 135, 162);
    --color-overlay-0: rgb(110, 115, 141);
    --color-surface-2: rgb(91, 96, 120);
    --color-surface-1: rgb(73, 77, 100);
    --color-surface-0: rgb(54, 58, 79);
    --color-base: rgb(36, 39, 58);
    --color-mantle: rgb(30, 32, 48);
    --color-crust: rgb(24, 25, 38);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
}

hr {
    margin: 1rem 0;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:-webkit-any-link {
    /* I also like Rosewater */
    color: var(--color-lavender);
}

button,
input[type="submit"] {
    cursor: pointer;
}

form label {
    display: block;
    margin-top: .5rem;
}

form label:first-child {
    margin-top: 0;
}

form input,
form select,
form textarea {
    display: block;
    margin-top: .2rem;
}

table thead tr th {
    text-align: left;
    padding: 0 1rem 0 0;
}

table tbody tr td {
    text-align: left;
    padding: 0 1rem 0 0;
}

table button {
    margin: .2rem;
}