:root {
    --link-color: rgb(183, 189, 248); /* Lavender (I also like Rosewater: rgb(244, 219, 214)) */
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:-webkit-any-link {
    color: var(--link-color);
}

form label {
    display: block;
    margin-top: .5rem;
}

form label:first-child {
    margin-top: 0;
}

form input {
    display: block;
    margin-top: .2rem;
}

