**/.idea
**/.DS_Store

**/target

# This file may contain secrets. A template file is committed instead.
/.env
/volatile/*
!/volatile/keep.txt

# This file may contain secrets. A template file is committed instead.
/compose.yaml

# These are generated permutations of /template.plist
/inventory/launch
/frontend/launch
