* {
    margin: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

input, button, textarea, select {
    font: inherit;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

a {
    background-color: transparent;
}

b, strong {
    font-weight: bolder;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}
